bottle

# Text 2 Sign
torch==1.10.0
sockeye==3.0.13
numpy==1.19.0
git+https://github.com/sign-language-processing/signwriting.git
sentencepiece==0.2.0
# --pre -f https://dist.mxnet.io/python 'mxnet==2.0.0b20220206'

# Text 2 Gloss
spacy==2.3.9
torchtext==0.6.0
